PORT=3001
BIND_HOST=127.0.0.1
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_CHAIN_ID=31337
TRADE_LEDGER_CONTRACT_ADDRESS=
BLOCKCHAIN_PRIVATE_KEY=
BLOCKCHAIN_CONFIRMATIONS=1
BLOCKCHAIN_TX_TIMEOUT_MS=15000
BLOCKCHAIN_NETWORK_LABEL=Local Hardhat (ephemeral)
